.btn1 {
      display: inline-block;
      border-radius: 25px;
      border: none;
      background: #1875FF;
      color: white;
      font-family: inherit;
      text-align: center;
      font-size: 13px;
      box-shadow: 0px 14px 56px -11px #1875FF;
      width: 10em;
      padding: 0.4rem;
      transition: all 0.4s;
      cursor: pointer;
}

.btn1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
}

.btn1 span:after {
      content: 'now';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -10px;
      transition: 0.7s;
}

.btn1:hover span {
      padding-right: 2rem;
}

.btn1:hover span:after {
      opacity: 4;
      right: 0;
}

.rating {
      display: inline-block;
}

.rating input {
      display: none;
}

.rating label {
      float: right;
      cursor: pointer;
      color: #ccc;
      transition: color 0.3s;
}

.rating label:before {
      content: '\2605';
      font-size: 40px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
      color: #1875FF;
      transition: color 0.3s;
}

.subscribe {
      position: relative;
      height: 20rem;
      width: 30rem;
      padding: 20px;
      background-color: transparent;
      border-radius: 4px;
      border:2px solid #1875FF;
      color: #333;
      box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}
/* outli */
.subscribe:after {
      position: absolute;
      content: "";
      right: -10px;
      bottom: 22px;
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #2f0592;
}

.subscribe p {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 4px;
      line-height: 28px;
}






.subscribe .submit-btn {
      position: absolute;
      border-radius: 30px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: #1875FF;
      color: #FFF;
      padding: 12px 25px;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 5px;
      right: -10px;
      bottom: -20px;
      cursor: pointer;
      transition: all .25s ease;
      box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
      background-color: #170996;
      box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}