.btn1 {
      display: inline-block;
      border-radius: 25px;
      border: none;
      background: #1875FF;
      color: white;
      font-family: inherit;
      text-align: center;
      font-size: 13px;
      box-shadow: 0px 14px 56px -11px #1875FF;
      width: 10em;
      padding: 0.4rem;
      transition: all 0.4s;
      cursor: pointer;
}

.btn1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.4s;
}

.btn1 span:after {
      content: 'now';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -10px;
      transition: 0.7s;
}

.btn1:hover span {
      padding-right: 2rem;
}

.btn1:hover span:after {
      opacity: 4;
      right: 0;
}

.rating {
      display: flex;
      flex-direction: row-reverse;
}

.rating input {
      display: none;
}

.rating label {
      float: right;
      cursor: pointer;
      color: #ccc;
      transition: color 0.3s;
}

.rating label:before {
      content: '\2605';
      font-size: 35px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
      color: #1875FF;
      transition: color 0.3s;
}

.subscribe {
      position: relative;

      background-color: transparent;

      box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

/* outli */
.subscribe:after {
      position: absolute;
      content: "";
      right: -10px;
      bottom: 22px;
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #2f0592;
}


.title {
      color: #eee;
      font-family: sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin-top: 30px;
}

.subtitle {
      color: #eee;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
}

.input-container {
      height: 50px;
      position: relative;
      width: 100%;
}

.ic1 {
      margin-top: 40px;
}

.ic2 {
      margin-top: 30px;
}

.input {
      background-color: #000000;
      border-radius: 12px;
      border: 1px solid white;
      box-sizing: border-box;
      color: #eee;
      font-size: 18px;
      height: 100%;
      outline: 0;
      padding: 4px 20px 0;
      width: 100%;
}

.input-message {
      background-color: #000000;
      border-radius: 12px;
      border: 1px solid white;
      box-sizing: border-box;
      color: #eee;
      font-size: 18px;
      height: 10rem;
      outline: 0;
      padding: 4px 20px 0;
      width: 100%;
}

.cut {
      background-color: #000000;
      border-radius: 10px;
      height: 20px;
      left: 20px;
      position: absolute;
      top: -20px;
      transform: translateY(0);
      transition: transform 200ms;
      width: 100px;
}

.cut-short {
      width: 76px;
}

.iLabel {
      color: #fbfbfd;
      font-family: sans-serif;
      left: 20px;
      line-height: 14px;
      pointer-events: none;
      position: absolute;
      transform-origin: 0 50%;
      transition: transform 200ms, color 200ms;
      top: 20px;
}

.input:focus~.cut,
.input-message:focus~.cut,
.input-cont:focus~.cut {
      transform: translateY(8px);
}

.input:focus~.iLabel,
.input-message:focus~.ilabel {
      transform: translateY(-30px) translateX(10px);
}

.input-cont:focus~.iLabel {
      transform: translateY(-30px) translateX(6px);
}

.input:not(:focus)~.iLabel,
.input-cont:not(:focus)~.ilabel {
      color: #b6b4b4;
}

.input:focus~.iLabel,
.input-cont:focus~.iLabel {
      color: #9d9ea0;
}

.submit {
      background-color: #08d;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      height: 50px;
      margin-top: 8rem;
      text-align: center;
      width: 30%;
}

/* position */

.submit:active {
      background-color: rgb(44, 50, 54);
}



.subscribe .submit-btn {
      position: absolute;
      border-radius: 30px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      background-color: #1875FF;
      color: #FFF;
      padding: 12px 25px;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 5px;
      right: -10px;
      bottom: -20px;
      cursor: pointer;
      transition: all .25s ease;
      box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
      background-color: #170996;
      box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

.subscribe .submit-btn:active, .btn1:active {
      background-color: #454355;
      
}