.video-sec {
    background-size: 100vw;
    height: 100vh;
}

video {
    margin-left: 23vw;
    border: 2px solid black;
    border-radius: 12px solid black;
    padding: 10px;
}

h1 {
    text-align: center;
}

/* For small screens */
@media only screen and (max-width: 600px) {
    .video-sec {
        background-size: cover;
    }

    video {
        margin-left: 5vw;
        margin-top: 100px;
        height: 250px;
        width: 345px;
    }
}

/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .video-sec {
        background-size: cover;
    }

    video {
        margin-left: 10vw;
        margin-top: 150px;
        height: 300px;
    }
}

/* For large screens */
@media only screen and (min-width: 1025px) {}