.video-sec{
background-image: url('../../../src/assets/videobg.png') !important;
background-repeat: no-repeat;
background-size: 100vw;
height: 100vh;
}
video{
    margin-left: 23vw;
    margin-top:200px;
    height: 400px;
    /* width: 500px; */
    border: 2px solid black;
    border-radius: 12px solid black;

}
h1{
    text-align: center;
}