.ssh-font h2 span {
    color: #2fdcff;
}

.ssh-font h2 {
    font-size: 50px;
    text-align: center;
}

.ssh-font p {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
}

.service-card h3 {
    font-size: 28px;
}

.service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service1,
.service2,
.service3,
.service4,
.service5,
.service6,
.service7,
.service8 {
    width: 20vw;
    margin: 1vw;
}

.events-section img {
    width: 100vw;
}

.event-details h2 {
    font-size: 80px;
    text-align: center;
    font-weight: 400;
}

.event-details h1 {
    color: #2fdcff;
    font-size: 80px;
    font-weight: 700;
}

.event-details {
    position: absolute;
    margin-top: -250px;
}

.event-card {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 10px;
}

.cd-1,
.cd-2,
.cd-3 li {
    list-style: none;
}

.cd-1,
.cd-2,
.cd-3 {
    font-size: 38px;
    font-weight: 500;
    margin: 20px;
    margin-left: 50px;
    padding: 50px;
    border: 3px solid #2fdcff;
    border-radius: 23px;
}

.risk-sec h3 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

.risk-sec h3 span {
    color: #2fdcff;
}

.risk-detail {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.detail-l {
    width: 50vw;
    font-size: 1.5rem;
}

.protection-card {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(4deg, rgba(9, 9, 121, 1) 0%, rgba(9, 8, 27, 1) 73%, rgba(0, 212, 255, 1) 100%);
}

.hk-1 {
    font-size: 80px;
    color: #2fdcff;
}

.hk {
    font-size: 60px;
    border: 2px solid #2fdcff;
    border-radius: 20px;
    width: fit-content;
    align-items: center;
    margin: auto;
}

.p-c-1,
.p-c-2,
.p-c-3 {
    border: 3px solid #2fdcff;
    margin: 10px;
    padding: 10px;
    border-radius: 23px;
    width: 30vw;
    text-align: center;
}

.p-c-1 h1,
.p-c-2 h1,
.p-c-3 h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid #2fdcff;
}

.p-c-1 li,
.p-c-2 li,
.p-c-3 li {
    list-style: none;
    font-size: 30px;
}

/* Responsive Adjustments */

@media only screen and (max-width: 768px) {

    .service1,
    .service2,
    .service3,
    .service4,
    .service5,
    .service6,
    .service7,
    .service8 {
        width: 90%;
        margin: 5%;
    }

    .event-card {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .cd-1,
    .cd-2,
    .cd-3 {
        font-size: 22px;

    }

    .event-details h2 {
        font-size: 30px;
    }

    .event-details h1 {
        font-size: 30px;
    }

    .hk-1 {
        font-size: 30px;
    }

    .hk {
        font-size: 30px;
    }
    .risk-detail{
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }
    .detail-l{
        width: 100vw;
    }
    .risk-sec h3{
        font-size: 35px;
    }

    .p-c-1,
    .p-c-2,
    .p-c-3 {
        width: 90%;
        margin: 5%;
    }

    .p-c-1 h1,
    .p-c-2 h1,
    .p-c-3 h1 {
        font-size: 24px;
    }

    .p-c-1 li,
    .p-c-2 li,
    .p-c-3 li {
        font-size: 20px;
    }
    .protection-card{
        display: flex;
        flex-direction: column;
    }
}