.footer {
height: 0;
}

.main-footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   }

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.footer-logo img {
    width: 30%;
    height: auto;
}

/* Create the lines */
.perpendicular-line {
    width: 1px;
    height: 90px;
    background-color: #fdf8f8;
    margin-top: -80px;
}

.line-left {
    width: 35%;
    height: 1px;
    background-color: #fdf8f8;
    margin-left: -50vw;
    margin-top: -36px;
    position: absolute;

}

.line-right {
    width: 35%;
    height: 1px;
    background-color: #fdf8f8;
    margin-right: -48vw;
    margin-top: -36px;
    position: absolute;

}

.social-contact-section {
    display: flex;
    justify-content: space-around;
}

.social-contact-left {
    font-size: 33px;
}

.social-contact-middke {
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 33px;
}

.social-contact-middke i {
    margin: 15px;
}

.social-contact-middke i:hover {
    font-size: 40px;
    transition: 02s ease;
    cursor: pointer;
    color: rgb(12, 58, 118);
}

.social-contact-right {
    margin: 15px;
    font-size: 33px;
}

.footer-bottom{
    text-align: center;
    margin-bottom: 23px;
    font-size: 20px;
    background-color: #000;
    color: #f6f4f4;
    height: 50px;
}
/* Media Queries */

/* For small screens */
@media only screen and (max-width: 600px) {
    .footer {
        /* background-color: #030202; */
        /* opacity: .85; */
        width: 100vw;
        height: 20vh;
    }

    .footer-logo img {
        visibility: hidden;
    }

    .line-left,
    .line-right {
        visibility: hidden;
    }

    .social-contact-section {
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .social-contact-left,
    .social-contact-right{
        font-size: 20px;
        position: absolute;
    }
    .social-contact-left{
        margin-top:-150px;
        margin-left: -80px;

    }
    .social-contact-right{
        margin-top: 100px;
        margin-left: -120px;
    }

    .social-contact-middke {
        display: flex;
        flex-direction: column;
        margin-left: 280px;
    }

    .s-p {
        display: none;
        visibility: hidden;
    }

    .social-icon {
        display: flex;
        flex-direction: column;
        float: right;
        align-items: right;
        font-size: 50px;
    }

    .perpendicular-line {
        display: none;
    }
    .social-contact-section{
        display: flex;
        flex-direction: column;
        
    }
}

/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .footer-logo img {
        width: 40%;
    }

    .line-left,
    .line-right {
        width: 100px;
    }

    .social-contact-middke {
        margin-left: 0;
        font-size: 20px;
    }

    .social-icon {
        font-size: 40px;
    }
}

/* For large screens */
@media only screen and (min-width: 1025px) {
    /* No additional changes for large screens */
}